/* Estilizações gerais  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    width: 100%;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
}

.bg-gray {
    background-color: #dedede;
}
/* End Estilizações gerais */

/* Coupon  */
.coupon {
    background: #005CFF;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
  }

.coupon p {
    font-weight: 700;
    margin: auto;
}

.coupon-discount-value {
    background: #6220C1;
    border-radius: 4px;
    padding: 0 4px;
}

.discount-coupon {
    font-style: italic;
    font-weight: 500;
}

@media (max-width: 768px) { /* Mobile */
    .coupon {
        height: 52px;
        padding: 4px 22px;
    }
}

@media (min-width: 769px) { /* Desktop */
    .coupon {
        height: 30px;
    }
}
/* End Coupon  */

/* TODO : NAVBAr parando de descer quando chega no carousel??  */
/* Header */
.navbar {
    background: white;
    padding: 10px 20px;
}

.header-container {
    width: 1259px;
    margin: 0 auto;
}

.header-search-box-desktop {
    margin-left: 65px;
}

.input-container {
    border: 1px solid #DDDDDD !important;
    border-radius: 10px;
    position: relative;
    max-width: 361px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.input-container .input-icon {
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    height: 100%;
}

.input-container input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #DDDDDD !important;
    border-radius: 10px !important;
}

.input-container input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #DDDDDD !important;
    border-radius: 10px !important;
    
}

.search-btn {
    background: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
    background: transparent;
    padding: 5px;
}

.search-btn img {
    pointer-events: none;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 12px;
    background: transparent;
    border-radius: 10px;
}

.input-container .search-btn {
    border: none;
    padding: 8px;
}

.navbar-toggler {
    border: none;
}

/* Espaçamento melhor para o campo de busca no desktop */
@media (min-width: 992px) {
    .input-container {
        max-width: 594px;
    }

    #navbarNav.hide-desktop {
        display: none !important;
    }
}



/* End Navbar */

/* Dropdown navbar */ /* FAZER depois! */ 
.dropdown-toggle::after {
    content: none;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    width: 600px;
    margin-left: 200px;
    top: 0;
    min-width: 800px;
}

.dropdown-item.dropdown:hover > .submenu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    min-width: 200px;
    
    /* Descomentar para deixar o megamenu aberto */
    /* display: block !important;
    position: static !important;
    opacity: 1 !important;
    visibility: visible !important; */
}

.mega-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 1261px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 0;
    border: none;
}
  
.mega-menu-content {
    display: flex;
    height: 329px;
}
  
.mega-menu-categories {
    width: 234px;
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
    padding-top: 20px;
    padding-left: 16px;
    font-size: 14px;
    color: #656565;
}
  
.mega-menu-categories a {
    padding: 0;
    display: block;
    color: #000;
    text-decoration: none;
}

.mega-menu-categories a:nth-child(n+2) {
    margin-top: 12px;
}

.mega-menu-categories a.active {
    color: #005CFF !important;
    background-color: #f5f5f5;
    font-weight: bold;
}

.mega-menu-submenu {
    padding-top: 20px;
    width: 70%;
    padding-left: 20px;
    gap: 120px;
}
  
.mega-menu-submenu .dropdown-item:first-child {
    color: blue;
    font-weight: 700;
}
  
.nav-item.dropdown:hover .mega-menu {
    display: block;
}

.dropdown-img-container {
    position: relative;
    display: inline-block;
    width: 276px;
    height: 298px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 24px;
}

.dropdown-img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) -20.45%, rgba(0, 0, 0, 0) 138.31%);
    border-radius: 10px;
}

.dropdown-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content-overlay {
    position: absolute;
    text-align: left;
    color: white;
    width: 127.43px;
    height: 207.11px;
    margin: 43px 0 0 27px;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.5%;
    font-weight: 700;
    z-index: 2;
}

.content-overlay p {
    font-weight: 400;
}

.content-overlay span {
    font-weight: 700;
}

.custom-btn-dropdown {
    width: 116px;
    height: 38px;
    border-width: 1px;
    border-color: white;
    background: transparent;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.custom-btn-dropdown:hover {
    background: rgba(255, 255, 255, 0.2);
    border-width: 1px;
    border-color: white;
}

/* End Dropdown navbar */

/* Hero banner */
.hero-banner {   /* TODO: COlocar sombreamento acima */
    background-image: url('./Assets/images/chair-hero-banner.jpg');
    background-color: #E7E7EA;
    background-size: auto;
    background-position: 20% -350px;
    background-repeat: no-repeat;
    height: 510px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;

    width: 100%;
}

.hero-banner div {
    width: 576px;
    margin-right: 199px;
}

.hero-banner h2 {
    font-size: 100px;
    line-height: 100%;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 700;
    color: #000;
}

.super-sale-hero-banner {
    font-weight: 300;
}

.hero-banner p {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #005CFF;
    line-height: 40px;
    margin: 0;
}

.selected-itens-hero-carousel {
    margin-bottom: 1rem !important;
}

.hero-banner-discount-amount {
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #005CFF;
}

@media (max-width: 992px) { /* ainda não fiz tablet, atualizar depois */
    .hero-banner {
        background-size: cover;
    }

    .hero-banner div {
        margin-right: 0;
    }

    .hero-banner h2 {
        font-size: 60px;
    }

    .hero-banner p {
        font-size: 20px;
        letter-spacing: 0px;
    }

    .hero-banner-discount-amount {
        font-size: 45px;
    }
}

@media (max-width: 576px) {
    .hero-banner {
        height: 306px;
        background-position: -180px 70%;
    }

    .hero-banner div {
        margin-left: 150px;
        /* margin-top: 40px; */
    }

    .hero-banner h2 {
        font-size: 40px;
    }

    .hero-banner p {
        font-size: 12px;
    }

    .hero-banner-discount-amount {
        font-size: 32px;
    }

    .super-sale-hero-banner {
        display: block;
    }
}
/* End hero banner */

/* Carousel */
.container-carousel {
    padding: 0 16px;
    width: 100%;
}

.view-more-container {
    width: 358px;
    margin-bottom: 16px;
}

.view-more-container span {
    font-size: 20px;
    font-weight: 700;
}

.view-more-container button {
    text-decoration: none;
    background-color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    flex: 0 0 50%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item.active {
    display: flex;
}

.card {
    width: 174px;
    height: 348px;
    margin: 0;
    margin-right:10px;
}

.card-body {
    padding: 0 8px;
}

.card-image-container {
    margin-top: 12px;
    position: relative;
    display: inline-block;
}

.new-item-card-tag {
    position: absolute;
    top: -2px;
    left: -1px;
    padding: 3px 6px;
    font-size: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #00264E;
    color: #fff;
}

.card-body img {
    width: 158px;
    height: 158px;
}

.card-body h3 {
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    min-height: 30px;
}

.card-prices-container {
    display: flex;
    gap: 0;
}

.off-discount-container {
    display: flex;
    flex-direction: row;
}

.off-discount-amount {
    background-color: #5EC0BE;
    margin-top: -16px;
    height: 20px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    align-self: center;
    font-size: 11px;
    margin-left: 10px;
    font-weight: 700;
    padding: 4px 8px;
}

.card-prices p {
    margin: 0;
}

.card-prices .default-price {
    text-decoration: line-through;
    font-weight: 400;
    width: 58px;
    height: 16px;
    font-size: 12px;
    color: #303030;
}

.card-prices .discount-price {
    font-size: 16px;
    color: #000;
}

.card-bottom-text {
    height: 16px;
    font-weight: 400;
    font-size: 12px;
}

.card-body button {
    background-color: #005CFF;
    width: 158px;
    height: 40px;
    border-radius: 8px;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    opacity: 1 !important;
}

.carousel-control-prev img,
.carousel-control-next img{
    width: 30px !important;
    height: 30x !important;

    padding: 6px;
    background-color: #fff;
    border: 1px solid #005CFF;
    border-radius: 100%;
}

.carousel-control-prev {
    left: -15px;
}

.carousel-control-next {
    right: -15px;
}

.carousel-indicators {
    bottom: -48px;
    /* margin: 0 !important; */
}

.carousel-indicators [data-bs-target] {
    width: 7px;
    height: 7px;
}

.carousel-indicators button {
    background-color: #303030 !important;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.carousel-indicators .active {
    opacity: 1;
}

@media (max-width: 767px) {
    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;
    }

    .carousel-indicators {
        display: flex !important;
    }
}


@media (min-width: 768px) {
    .view-more-container {
        width: 1210px;
        margin-bottom: 19px;
    }
    
    .container-carousel {
        width: 1220px;
        margin: 0 auto;
        padding: 0 16px;
    }

    .carousel-item {
        flex: 0 0 50%;
    }

    .card {
        width: 228px;
        height: 409px; 
        margin-right: 12px;
    }

    .card-body img {
        width: 212px;
        height: 222px;
    }

    .card-body button {
        width: 222px;
    }
    
    .view-more-container span {
        font-size: 20px;
        font-weight: 700;
    }
    
    .view-more-container button {
        text-decoration: none;
        background-color: #fff;
        border: none;
        margin-right: 22px;
        font-size: 14px;
        font-weight: 700;
    }
    
    .off-discount-amount {
        text-decoration: underline;
    }
}

@media (min-width: 1400px) {
    .view-more-container {
        width: 1270px;
    }
    .container-carousel {
        width: 1280px;
    }    
    
    .card {
        width: 238px;
        height: 409px;
        margin-right: 14.5px;
    }
}
/* End Carousel */

/* Image & Text content */
.image-and-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 20px;
    margin-bottom: 44px;
}

.image-text-outer-container {
    width: 100%;
}

.inner-text-container p {
    font-size: 14px;
}

.image-and-text-container.no-padding {
    padding: 0;
}

.image-and-text-container h3 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 4%;
    padding-bottom: 18px;
    margin-top: 8px;
}

.image-and-text-container figure {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.image-and-text-container img {
    max-width: 100%;
    height: auto;
}

.image-and-text-container .text-container {
    max-width: 600px;
    padding: 0 24px;
}

.image-and-text-container .mobile-text {
    display: block;
}
  
.image-and-text-container .desktop-text {
    display: none;
}


.inner-text-container.with-padding {
    padding-left: 24px;
}

.map-pin-text-container p {
    margin-left: 14px;
    font-size: 12px;
    color: #000;
}

@media (min-width: 768px) {
    .image-and-text-container {
        width: 1177px;
        height: 747px;
        flex-direction: row;
        align-items: center;
        margin: 20px auto;
        text-align: left;
    }

    .image-and-text-img.first-mug-avanti-image {
        height: 747px;
    }

    .image-and-text-container h3 {
        font-size: 30px;
    }

    .image-and-text-container.reverse {
        flex-direction: row-reverse;
    }

    .image-and-text-container figure {
        flex: 1;
        max-width: 50%;
        margin-bottom: 0;
    }

    .image-and-text-container img {
        max-width: 652px;
        height: 647px;
    }

    .inner-text-container {
        max-width: 510px;
        height: 536px;
    }

    .inner-text-container.with-padding {
        padding-left: 67px;
    }

    .inner-text-container p {
        font-size: 18px;
    }

    .image-and-text-container .mobile-text {
        display: none;
    }
    
    .image-and-text-container .desktop-text {
        display: block;
    }

    .map-pin-text-container {
        width: 590px;
        height: 125px;
        margin-top: 40px;
        align-items: center;
    }
    
    .map-pin-text-container p {
        width: 350px;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.05em;
        color: #4f4f4f;
    }
}
 /* End Image & Text content */






/* Footer  */

footer {
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 10px;
}

.footer-inner-container {
    --bs-gutter-x: 0;
    margin-right: 0;
    margin-left: 0;
}

footer .social-icons-footer {
    margin-top: 40px;
    margin-bottom: 48px;
    gap: 40px;
}

.banking-icons-footer {
    width: 290px;
    margin: 40px auto 48px;
    margin-top: 40px;
    margin-bottom: 48px;
    gap: 40px;
}

.footer-toggle {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.footer-toggle .arrow {
    transition: transform 0.3s;
}

.footer-section {
    padding:  16px;
}

.footer-section ul {
    padding-left: 0;
}

.footer-section ul li {
    list-style: none;
}

.footer-section ul li h5 {
    font-size: 14px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-icons-row-1 {
    width: 289px;
    height: 19px;
}

.footer-icons-row-2 {
    width: 224px;
    height: 25px;
    margin-top: 10px;
}

@media (min-width: 768px) {
    footer {
        width: 100%;
    }

    .footer-container {
        width: 1160px;
        margin: 0 auto;
    }

    .footer-icons > img {
        margin-right: 40px;
    }
    
    .footer-icons-row-1 {
        padding-right: 0;
    }
    
    .footer-icons-row-2 {
        margin-top: 0;
        padding-left: 0;
    }

    .banking-icons-footer {
        width: 546px;
        gap: 0;
    }
}
/* End Footer  */

/* Supported by */
.supported-by {
    background-color: #fff;
    text-align: center;
    padding: 40px 12px 15px;
}

.supported-by h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.supported-by p {
    font-size: 12px;
    width: 340px;
    margin: 0 auto 20px;
    color: #303030;
}

.supported-by-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/* End Supported by */