.contato-section {
    width: 100%;
    height: 449px;
    position: relative;
    overflow: hidden;
}
  
.img-contato-container {
    position: relative;
    width: 100%;
    height: 100%;
}
  
.img-contato {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
}
  
.img-blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    z-index: 2;
}
  
.linha-container {
    position: absolute;
    top: 193px;
    width: 100%;
    z-index: 3;
}
  
.contato-bar {
    width: 100%;
    height: 75px;
    background-color: #005CFF;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.contato-bar p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
  
  
@media (min-width: 768px) {
    .contato-section {
        height: 660px;
    }

    .contato-bar p {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }  

    .linha-container {
        top: 264px;
    }    
}

@media (min-width: 1400px) {
    .contato-bar p {
        font-size: 24px;
    }
}
