#heroBannerCarousel .carousel-item {
    flex: 0 0 100%;
}

.hero-banner {
    background-image: url('/public/assets/images/hero-banner/chair-hero-banner.jpg');
    background-color: #E7E7EA;
    background-size: cover;
    background-position: -180px 70%;
    background-repeat: no-repeat;
    height: 306px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    width: 100%;
}

.hero-carousel {
    margin-top: 0;
    position: relative;
}

.carousel-indicators-hero-banner {
    position: absolute;
    bottom: -15px;
    z-index: 10;
}

.hero-banner-content {
    margin-right: 50px;
}

.hero-banner h2 {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 100%;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 700;
    color: #000;
}
  
.super-sale-hero-banner {
    font-weight: 300;
    display: block;
}
  
.hero-banner p {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #005CFF;
    line-height: 40px;
    margin: 0;
}
  
.hero-banner-discount-amount {
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 40px !important;
    letter-spacing: 0 !important;
}
  
@media (min-width: 768px) {    
    .hero-banner {
        height: 456px;
        position: relative;
        background-size: 50%; 
        background-position: 20% 100%;
    }

    .hero-banner-content {
        position: absolute;        
        right: max(10px, calc(100vw - 868px) / 2);
        top: 50%;
        transform: translateY(-50%);
        width: 300px;
    }

    .hero-banner h2 {
        font-size: 70px;
    }

    .hero-banner p {
        font-size: 18px;
        margin-top: 12px;
    }
}

@media (min-width: 1024px) {    
    .hero-banner {
        background-size: 50%; 
        background-position: 20% 70%;
    }

    .hero-banner-content {
        width: 400px;
        right: max(10px, calc(100vw - 1200px) / 2);
    }

    .super-sale-hero-banner {
        display: inline;
    }

    .hero-banner p {
        font-size: 22px;
        margin-top: 12px;
    }
}

@media (min-width: 1400px) {
    .hero-banner {
        height: 510px;
        background-position: 20% -350px;
        background-size: auto;
    }
  
    .hero-banner div {
        position: absolute;
        transform: translateY(-50%);
        width: 576px;
    }

    .hero-banner-content {
        right: max(10px, calc(100vw - 1400px) / 2);
    }
  
    .hero-banner h2 {
        font-size: 100px;
    }
  
    .hero-banner p {
        width: 600px;
        font-size: 25px;
        letter-spacing: 0.3em;
        text-align: left;
    }
  
    .hero-banner-discount-amount {
        font-size: 60px !important;
        margin-top: 28px !important;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1900px) {
    .hero-banner-content {
        right: max(10px, calc(100vw - 1200px) / 2);
    }
}