.newsletter-container {
    width: 100%;
    height: 330px;
    margin-bottom: 80px;
    padding-top: 56px;

}

.newsletter-container h3 {
    font-size: 16px;
    font-weight: 700;
    padding-top: 5px;
    text-align: center;
}

.newsletter-container h3 span {
    color: #005CFF;
}

.newsletter-form-container {
    width: 358px;
    height: 284px;
    background-color: #f5f5f5;
    padding-bottom: 38px;
    border-radius: 8px;
}

.newsletter-form-inner-container {
    margin-top: 38px;
    width: 326px;
    gap: 16px;
}

.newsletter-form-inner-container input:not([type="checkbox"]) {
    margin-bottom: 16px;
}

.newsletter-form-inner-container input[type="checkbox"] {
    margin-right: 8px;
}

.newsletter-form-inner-container input:not([type="checkbox"]) {
    width: 326px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding-left: 24.5px;
}

.newsletter-form-inner-container input:not([type="checkbox"])::placeholder {
    color: #303030;
    font-size: 14px;
    margin-left: 24.5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.checkbox-container span {
    font-size: 12px;
    font-weight: 400;
}

.checkbox-container span a {
    color: #303030;
}

.newsletter-form {
    flex-direction: column;
}

.newsletter-form button {
    background-color: #005cff;
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .newsletter-container {
        height: 360px;
    }
    
    .newsletter-container h3 {
        font-size: 24px;
    }

    .newsletter-form {
        justify-content: center;
        align-items: center;
    }

    .newsletter-form-container {
        width: 550px;
        background-color: #dedede;
        height: 320px;
    }

    .newsletter-form-inner-container input:not([type="checkbox"]) {
        width: 400px;
        margin: 8px auto;
    }

    .newsletter-form-inner-container input:not([type="checkbox"]), .checkbox-container{
        margin: 16px 0;
    }

    .newsletter-form-inner-container input:not([type="checkbox"])::placeholder {
        font-size: 18px;
    }
    
    .checkbox-container span {
        font-size: 14px;
    }

    .newsletter-form-inner-container {
        width: 500px;
    }
    
    .newsletter-form button {
        width: 320px;
    }
}

@media (min-width: 1400px) {
    .newsletter-container {
        width: 1260px;
        margin: 0 auto;
    }

    .newsletter-form-container {
        width: 100%;
        height: 176px;
        background-color: #dedede;
        margin-top: 24px;
        padding-bottom: 0;
        border-radius: 8px;
    }
    
    .newsletter-form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        width: 100%;
    }

    .newsletter-form-inner-container {
        margin-top: 0;
        width: 100%;
    }

    .newsletter-form-inner-container input:not([type="checkbox"]), .checkbox-container{
        margin-bottom: 0;
    }

    .newsletter-form-inner-container input:not([type="checkbox"])::placeholder {
        font-size: 14px;
    }

    .checkbox-container span {
        font-size: 12px;
    }

    .newsletter-form input:not([type="checkbox"]) {
        width: 280px;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .newsletter-form button {
        width: 121px;
        height: 48px;
        margin-top: 12px;
    }
}
